.website-title {
    background-color: yellow;
    color: red;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

img {
    height: 200px;
    width: auto;
}

.homepage-ul li {
    list-style-type: none;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}